@import "../../components/prefab-styles/PrefabStyles.scss";

.header-container {
  /*Sets all fonts to Uppercase and black*/
  text-transform: uppercase;
  color: #3e3f40;

  .dropdown {
    .dropdown-menu {
      transition: all 0.75s;
      overflow: hidden;
      transform-origin: top center;
      transform: scale(1, 0);
      display: block;
    }
    &:hover {
      .dropdown-menu {
        transform: scale(1);
      }
    }
  }

  .top-navbar {
    background-color: #daefec !important;
    height: 30px !important;
    font-size: 11px;
    font-weight: 600;
    color: #3e3f40;
  }

  .bottom-navbar {
    .demo-button {
      background: url("../../assets/nav_button.png") no-repeat center center;
      background-size: cover;
      /* Overrides the global styling above */
      color: #fff !important;
      text-transform: none !important;
      border-radius: 50px;
      padding: 0.5rem 1.5rem !important;
      font-size: 15px;

      /* Hides Demo Button in the dropdown item*/
      display: block;
      @media screen and (max-width: 640px) {
        display: none;
      }

      @include buttonHover;
    }

    .nav-brand .demo-button {
      display: none;

      @media screen and (max-width: 640px) {
        /* Show Demo Button on Nav Bar*/
        display: block;
        font-size: 0.75em;
      }
    }
  }
}
